{{#or (if currency_selector.active_currency_code '===' 'GBP') (if currency_selector.active_currency_code '===' 'CAD') (if currency_selector.active_currency_code '===' 'EUR') (if settings.country_code '===' 'DK') (if settings.country_code '===' 'NO') (if settings.country_code '===' 'SE')}}
<script
  data-src="https://eu-library.klarnaservices.com/lib.js"
  data-client-id="c00b8d4f-855b-546b-b0e6-79435a027769"
  data-klarna-base-script
></script>
{{else if currency_selector.active_currency_code '===' 'USD'}}
<script
  data-src="https://na-library.klarnaservices.com/lib.js"
  data-client-id="e47bfe7a-3b84-50b5-bcc6-f42eb3a3b018"
  data-klarna-base-script
></script>
{{/or}}
