<div class="blog-bottom-section">
	<div class="blog-bottom-section-image" style="background-image: url({{lang 'csd.blog.bottom_section.image_url'}});">
		<img src="{{lang 'csd.blog.bottom_section.image_url'}}" alt="{{lang 'csd.blog.bottom_section.image_alt_text'}}" width="{{lang 'csd.blog.bottom_section.image_width'}}" height="{{lang 'csd.blog.bottom_section.image_height'}}">
	</div>
	<div class="blog-bottom-section-content">
		<div class="blog-bottom-section-text">{{lang 'csd.blog.bottom_section.text'}}</div>
		<a class="button button--primary blog-bottom-section-btn" href="{{lang 'csd.blog.bottom_section.btn_url'}}">{{lang 'csd.blog.bottom_section.btn_label'}}</a>
	</div>
</div>
