
<form class="form default-search container" onsubmit="return false" data-url="{{urls.search}}" data-quick-search-form onchange="pintrk('track', 'search');">
    <fieldset class="form-fieldset">
        <div class="form-field">
            <label class="is-srOnly" for="{{name}}">{{lang "search.quick_search.input_label"}}</label>
            <a class="left-icon" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><path style="fill:#232326" d="M24 12.001H2.914l5.294-5.295-.707-.707L1 12.501l6.5 6.5.707-.707-5.293-5.293H24v-1z" data-name="Left"/></svg>
            
            </a>
            <input class="form-input quick-search-common"
                   data-search-quick
                   name="{{name}}"
                   id="{{name}}"
                   data-error-message="{{lang 'search.error.empty_field'}}"
                   placeholder="{{lang 'search.quick_search.input_placeholder'}}"
                   autocomplete="off"
                   onfocus="pintrk('track', 'search');"
            >
            <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 50 50">
                <path d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z"></path>
            </svg>
            
            <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 50 50" style="display: none !important;">
                <path d="M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z"></path>
            </svg>
            
        </div>
    </fieldset>
</form>
<div class="miros-quick-search" data-bind="html: results">
    <div class="trending-list-div"></div>
    <div class="suggestion-div"></div>
</div>
<p role="status"
   aria-live="polite"
   class="aria-description--hidden"
   data-search-aria-message-predefined-text="{{{lang 'search.results.quick_count_live'}}}"
></p>

