{{#if social_media}}
    <ul class="socialLinks socialLinks--alt">
        {{#each social_media}}
            <li class="socialLinks-item ">
                <a class="icon icon--{{display_name}} {{display_name}}"
                   href="{{url}}"
                   target="_blank"
                   rel="noopener"
                   title="{{{capitalize display_name}}}"
                >
                    <span class="aria-description--hidden">{{{capitalize display_name}}}</span>
                    {{#if display_name '===' 'twitter'}}
                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 72 72" viewBox="0 0 72 72" id="twitter-x"><switch><g><path d="M42.5,31.2L66,6h-6L39.8,27.6L24,6H4l24.6,33.6L4,66    h6l21.3-22.8L48,66h20L42.5,31.2z M12.9,10h8l38.1,52h-8L12.9,10z"/></g></switch>
                    </svg>
                    {{else}}
                    <svg>
                        <use href="#icon-{{display_name}}"/>
                    </svg>
                    {{/if}}
                </a>
            </li>
        {{/each}}
    </ul>
{{/if}}
