{{#partial "head"}}

{{{ checkout.checkout_head }}}
{{{ stylesheet '/assets/css/optimized-checkout.css' }}}
{{ getFontsCollection }}
<script src="{{cdn 'assets/js/jquery-3.6.3.min.js'}}"></script>
<script type="text/javascript">
    window.language = {{{langJson 'optimized_checkout'}}};
</script>
<script type="text/javascript">

!function(e){if(!window.pintrk){window.pintrk=function()

{window.pintrk.queue.push(Array.prototype.slice.call(arguments))};var

n=window.pintrk;n.queue=[],n.version="3.0";var

t=document.createElement("script");t.async=!0,t.src=e;var

r=document.getElementsByTagName("script")[0];r.parentNode.insertBefore(t,r)}}

("https://s.pinimg.com/ct/core.js");



pintrk('load','2612737624778', { em: '%%GLOBAL_BillingEmail%%', });

pintrk('page');

</script>
<!--<noscript>-->
<!--    <img height="1" width="1" style="display:none;" alt="" src="https://ct.pinterest.com/v3/?tid=2612737624778&noscript=1"/>-->
<!--</noscript>-->

<script>
    pintrk('track', 'checkout', {
        order_id: '{{checkout.order.id}}',
    value: '{{order.total.formatted}}',
    currency: '{{currency_selector.active_currency_code}}',
 });
</script>
<noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://ct.pinterest.com/v3/?tid=YOUR_TAG_ID&amp;event=checkout&amp;noscript=1" />
</noscript>

 <noscript>
 <img
 height="1"
 width="1"
 style="display:none;"
 alt=""
 src="https://ct.pinterest.com/v3/?tid=YOUR_TAG_ID&event=checkout&ed[value]={{order.total.formatted}}&ed[order_quantity]=2&ed[event_id]=eventId0001&noscript=1"
 />
 </noscript>

{{{head.scripts}}}

<script nonce="AFAvSlUTZoMMUUou+GTtTA==" async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=QR7xcN&module=CONSENT_AT_CHECKOUT"></script>

<script>
    setInterval(function(){
        if($('#checkout-customer-guest').length > 0){
            $('#checkout-app').addClass('not-loggedin');
        }
        if($('#applepayCheckoutButton').length > 0){
            $('#checkout-app').addClass('with-apay');
        }
    }, 1000);
    if($( window ).width() > 968) {
        setInterval(function(){
            if($(".productList p").hasClass("product-brand")){} 
            else {
                initProcess();
            }
        }, 1000);
    } else if ($(window).width() <= 968 ) {
        setInterval(function(){
            if($(".productList p").hasClass("product-brand")){} 
            else {
                initProcess();
            }
        }, 1000);
    }
    
    function initProcess(){
        $('.productList').siblings('.cart-actions').children(".button").click();
        $('.productList').siblings('.cart-actions').children(".button").hide();
        
        var productLength = document.querySelectorAll('.productList [data-test="cart-item-image"]').length;
        var productsArr = [];
        for(let i=0; i<productLength; i++) {            
            getElements(i);
        }
    }

    function getElements(i) {        
        const brandNode = document.createElement("p");
        brandNode.classList = "product-brand";
        document.getElementsByClassName("product-body")[i].append(brandNode);

        const sizeNode = document.createElement("p");
        sizeNode.className = "product-size";
        document.getElementsByClassName("product-body")[i].append(sizeNode);

        setData(i);
    }

    function setData(i) {
        var brandElement = document.getElementsByClassName('product-brand')[i];
        var sizeElement = document.getElementsByClassName('product-size')[i];

        $(brandElement).load("https://csd.shop/cart.php tr:nth-child("+(i + 1)+") p[class='cart-item-brand']");
        $(sizeElement).load("https://csd.shop/cart.php tr:nth-child("+(i + 1)+") [class='definitionList-value']");
    }

    function initProcessMobile() {
        document.querySelector('.cartDrawer.optimizedCheckout-orderSummary').addEventListener("click", function(){
            setTimeout(initProcess, 1000);
        });
    }
    
    //BODL events
    
    window.dataLayer = window.dataLayer || [];
      
      
    //   If window.bodlEvents.checkout.checkoutBegin is available, then...
      if (typeof window.bodlEvents.checkout.checkoutBegin === 'function') {
        // run the checkoutBegin function to get the payload
        window.bodlEvents.checkout.checkoutBegin((payload) => {
          // log the event payload
          
          window.dataLayer = window.dataLayer || [];
          var bodl_data = {
              'event': 'bodl_v1_begin_checkout'
          }
          
        
          
          
          bodl_data.bodl_ecommerce = payload;
          
        window.dataLayer.push(bodl_data);
        });    
      }
     
      // If window.bodlEvents.checkout.shippingDetailsProvided is available, then...
      if (typeof window.bodlEvents.checkout.shippingDetailsProvided === 'function') {
        // run the shippingDetailsProvided function to get the payload
        window.bodlEvents.checkout.shippingDetailsProvided((payload) => {
          // log the event payload
          window.dataLayer = window.dataLayer || [];
          
          var bodl_data = {
              'event': 'bodl_v1_shipping_information_added'
          }
          
       
          bodl_data.bodl_ecommerce = payload;
          
        window.dataLayer.push(bodl_data);
        
        });
      }
     
      // If window.bodlEvents.checkout.paymentDetailsProvided is available, then...
      if (typeof window.bodlEvents.checkout.paymentDetailsProvided === 'function') {
        // run the paymentDetailsProvided function to get the payload
        window.bodlEvents.checkout.paymentDetailsProvided((payload) => {
          // log the event payload
          window.dataLayer = window.dataLayer || [];
          
          var bodl_data = {
                  'event': 'bodl_v1_payment_information_added'
              }
              
          
          bodl_data.bodl_ecommerce = payload;
          
        window.dataLayer.push(bodl_data);
        
        });
      }
     
</script>

{{/partial}}

{{#partial "page"}}
{{> components/csd/social-login-script}}
<header class="checkoutHeader optimizedCheckout-header">
    <div class="checkoutHeader-content">
        <h1 class="is-srOnly">{{lang 'checkout.title'}}</h1>
        <h2 class="checkoutHeader-heading">
            <a class="checkoutHeader-link" href="{{urls.home}}">
                {{#if checkout.header_image}}
                    <img alt="{{settings.store_logo.title}}" class="checkoutHeader-logo" id="logoImage" src="{{ checkout.header_image }}"/>
                {{ else }}
                    <span class="header-logo-text">{{settings.store_logo.title}}</span>
                {{/if}}
            </a>
        </h2>
    </div>
</header>
<div class="container checkoutpage-top-info">
    <div class="checkout-back-to-shopping">
        <a href="/" class="button" style="border: none; padding: 0;">&lt; Back to shopping</a>
    </div>

</div>

{{{ checkout.checkout_content }}}

{{{ footer.scripts }}}

{{/partial}}

{{> layout/empty}}
