---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
customer:
    wishlists:
        limit: 10

gql: "query DealsProducts(
  $WeloveCategoryId: Int = 1386
  $BagsCategoryId: Int = 1049
  $NewArrivalsCategoryId: Int = 220
 ) {
  site {
    sectionProductsWelove: category(entityId: $WeloveCategoryId) {
      description
      products(first: 16, sortBy: NEWEST, hideOutOfStock: true) {
        edges {
          node {
            ...ProductFields
          }
        }
      }
    }
    sectionProductsBags: category(entityId: $BagsCategoryId) {
      description
      products(first: 16, sortBy: NEWEST, hideOutOfStock: true) {
        edges {
          node {
            ...ProductFields
          }
        }
      }
    }
    sectionProductsNewArrivals: category(entityId: $NewArrivalsCategoryId) {
      description
      products(first: 16, sortBy: NEWEST, hideOutOfStock: true) {
        edges {
          node {
            ...ProductFields
          }
        }
      }
    }
  }
}
fragment ProductFields on Product {
  entityId
  path
  name
  addToCartUrl
  prices {
    price {
        ...MoneyFields      
    }
    basePrice {
        ...MoneyFields
    }
    salePrice {
        ...MoneyFields
    }
    retailPrice {
        ...MoneyFields
    }
    priceRange {
      min {
            ...MoneyFields
      }
      max {
            ...MoneyFields
      }
    }
    retailPriceRange {
      min {
            ...MoneyFields
      }
      max {
            ...MoneyFields
      }
    }
    saved {
        ...MoneyFields
    }
  }
  availabilityV2 {
    status
    description
  }
  inventory {
    isInStock
  }
  categories(first: 20) {
    edges {
      node {
        name
      }
    }
  }
  brand {
    name
  }
  customFields(first: 20) {
    edges {
      node {
        name
        value
      }
    }
  }
  defaultImage {
    ...ImageFields
  }
  images(first: 2) {
    edges {
      node {
        ...ImageFields
      }
    }
  }
  productOptions(first: 10) {
    edges {
      node {
        entityId
      }
    }
  }
}
fragment MoneyFields on Money {
  value
  currencyCode
}
fragment ImageFields on Image {
  url(width: 300, height: 300)
  altText
  isDefault
}
"
---
{{#partial "hero"}}

{{#comment}}
    {{{region name="home_below_menu"}}}
    {{#and carousel carousel.slides.length}}
        {{> components/carousel arrows=theme_settings.homepage_show_carousel_arrows play_pause_button=theme_settings.homepage_show_carousel_play_pause_button}}
    {{/and}}
    {{{region name="home_below_carousel"}}}
    {{/comment}}
{{/partial}}

{{#partial "page"}}
{{#each shipping_messages}}{{> components/common/alert/alert-info message}}{{/each}}
<div class="main full">
  <div class="lc-inner">
    {{> components/common/homepagebanner find="csd-header"}}
    
    <!-- <br> -->
    
    
    {{{region name="home_page_below_intro_brands"}}}
    
    {{> components/csd/products/section-products-one graphql-category=gql.data.site.sectionProductsBags title="Luxury Designer Bags" title-url="/women/bags/" scrolling-products=true view-all-btn=true settings=settings theme_settings=theme_settings customer=customer }}
    {{{region name="home_page_below_top_brands2"}}}
    
    <!--{{> components/common/homepagebanner find="top-brands-3"}}-->
    {{> components/csd/products/section-products-one graphql-category=gql.data.site.sectionProductsNewArrivals title="Luxury Designer New Arrivals" title-url="/sales/women/new-arrivals/" scrolling-products=true view-all-btn=true settings=settings theme_settings=theme_settings customer=customer }}	  {{{region name="home_page_middle"}}}
    <!-- <br> -->
    <!--{{> components/common/homepagebanner find="top-brands-1"}}-->
    {{{region name="home_page_top"}}}
    {{> components/csd/products/section-products-one graphql-category=gql.data.site.sectionProductsWelove title="Luxury Designer New With Tag" title-url="/women/new-with-tag/" scrolling-products=true view-all-btn=true settings=settings theme_settings=theme_settings customer=customer }}
    
    {{{region name="home_page_bottom1"}}}
    <!-- <br> -->
    <!--{{> components/common/homepagebanner find="top-brands-2"}}-->
 </div>
    {{{region name="home_page_bottom"}}}    
    {{> components/common/homepagebanner find="home-page-text-banner"}}
	
</div>
{{/partial}}
{{> layout/base}}
