<div class="sold-items-wrapper">
    <ul class="account-list" style="display: none;">
        <li class="account-listItem">
            <div class="account-product">
                <div class="account-product-figure">
                    <img alt="Item" title="Item" src="">
                </div>
                <div class="account-product-body">
                    <h5 class="account-product-title brand-name">Brand Name</h5>
                    <h5 class="account-product-title product-name">Product Name</h5>
    
                    <div class="account-product-details">
                        <div class="account-product-detail">
                            <h6 class="account-product-detail-heading">Date Sold</h6>
                            <span class="date-sold">Dec 23, 2023</span>
                        </div>
                        <div class="account-product-detail">
                            <h6 class="account-product-detail-heading">Date Delivered</h6>
                            <span class="date-del">Dec 23, 2023</span>
                        </div>
                        <div class="account-product-detail">
                            <h6 class="account-product-detail-heading">Sold Price</h6>
                            <span class="sold-price">$125</span>
                        </div>
                        <div class="account-product-detail">
                            <h6 class="account-product-detail-heading">Pay Out</h6>
                            <span class="payout-price">$100</span>
                        </div>
                        <div class="account-product-detail">
                            <h6 class="account-product-detail-heading">Payment Status</h6>
                            <span class="status">Pending</span>
                        </div>
                        <div class="account-product-detail">
                            <h6 class="account-product-detail-heading">Pay Date</h6>
                            <span class="pay-date">TBC</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
