<ul class="breadcrumbs">
    {{#unless theme_settings.hide_breadcrumbs }}
        {{#each breadcrumbs}}
            {{#if @first}}
                <li class="breadcrumb">
                    <a href="https://csd.shop/" class="breadcrumb-label"><span>Women Home</span></a>
                </li>
            {{else}}
            {{/if}}
        {{/each}}
        {{#if product.brand}}
        <li class="breadcrumb">
            <a href="{{product.brand.url}}" class="breadcrumb-label"><span>{{product.brand.name}}</span></a>
        </li>
        {{/if}}
        {{assignVar 'main-category' 'none'}}
                    {{#each product.category}}
                        {{#contains this 'Sale'}}
                        {{else}}
                            {{#contains this 'Featured Designers'}}
                            {{else}}
                                {{#contains this 'New'}}
                                {{else}}
                                    {{#contains this "Clothing/"}}
                                        {{#if (getVar 'main-category') '===' 'none'}}
                                            {{#each (split this '/')}}
                                                {{#if @index '===' 0}}
                                                    <li class="breadcrumb"><a class="breadcrumb-label" href="/women/{{dashcase (toLowerCase this)}}/"><span> {{this}}</span></a></li>
                                                    {{assignVar 'main-category' 'clothing'}}
                                                {{/if}}
                                                {{#if @index '===' 1}}
                                                    {{#contains this "Jumpsuits"}}
                                                    <li class="breadcrumb"><a class="breadcrumb-label" href="/women/{{getVar 'main-category'}}/jumpsuits/"><span> {{this}}</span></a></li>
                                                    {{else}}
                                                    <li class="breadcrumb"><a class="breadcrumb-label" href="/women/{{getVar 'main-category'}}/{{dashcase (toLowerCase this)}}/"><span> {{this}}</span></a></li>
                                                    {{/contains}}
                                                {{/if}}
                                            {{/each}}
                                        {{/if}}
                                    {{/contains}}
                                    {{#contains this "Bags/"}}
                                        {{#if (getVar 'main-category') '===' 'none'}}
                                            {{#each (split this '/')}}
                                                {{#if @index '===' 0}}
                                                    <li class="breadcrumb"><a class="breadcrumb-label" href="/women/{{dashcase (toLowerCase this)}}/"><span> {{this}}</span></a></li>
                                                    {{assignVar 'main-category' 'bags'}}
                                                {{/if}}
                                                {{#if @index '===' 1}}
                                                    <li class="breadcrumb"><a class="breadcrumb-label" href="/women/{{getVar 'main-category'}}/{{dashcase (toLowerCase this)}}/"><span> {{this}}</span></a></li>
                                                {{/if}}
                                            {{/each}}
                                        {{/if}}
                                    {{/contains}}
                                    {{#contains this "Shoes/"}}
                                        {{#if (getVar 'main-category') '===' 'none'}}
                                            {{#each (split this '/')}}
                                                {{#if @index '===' 0}}
                                                    <li class="breadcrumb"><a class="breadcrumb-label" href="/women/{{dashcase (toLowerCase this)}}/"><span> {{this}}</span></a></li>
                                                    {{assignVar 'main-category' 'shoes'}}
                                                {{/if}}
                                                {{#if @index '===' 1}}
                                                    <li class="breadcrumb"><a class="breadcrumb-label" href="/women/{{getVar 'main-category'}}/{{dashcase (toLowerCase this)}}/"><span> {{this}}</span></a></li>
                                                {{/if}}
                                            {{/each}}
                                        {{/if}}
                                    {{/contains}}
                                    {{#contains this "Accessories/"}}
                                        {{#if (getVar 'main-category') '===' 'none'}}
                                            {{#each (split this '/')}}
                                                {{#if @index '===' 0}}
                                                    <li class="breadcrumb"><a class="breadcrumb-label" href="/women/{{dashcase (toLowerCase this)}}/"><span> {{this}}</span></a></li>
                                                    {{assignVar 'main-category' 'accessories'}}
                                                {{/if}}
                                                {{#if @index '===' 1}}
                                                    <li class="breadcrumb"><a class="breadcrumb-label" href="/women/{{getVar 'main-category'}}/{{dashcase (toLowerCase this)}}/"><span> {{this}}</span></a></li>
                                                {{/if}}
                                            {{/each}}
                                        {{/if}}
                                    {{/contains}}
                                {{/contains}}
                            {{/contains}}
                        {{/contains}}
                    {{/each}}
       
    {{/unless}}
</ul>

<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement":
    [
        {{#each breadcrumbs}}
        {
            "@type": "ListItem",
            "position": {{add @index 1}},
            "item": {
                "@id": {{{JSONstringify url}}},
                "name": {{{JSONstringify name}}}
            }
        }{{#unless @last}},{{/unless}}
        {{/each}}
    ]
}
</script>
