<div class="csd-trust-shopping-icons">
	<!-- <div class="csd-trust-shopping-icon">
    <a href="/shipping/" target="_blank"><span class="icon"><svg alt="Free Shipping"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-free-shipping"></use><title>Free Shipping</title></svg></span></a>
	</div> -->
	<div class="csd-trust-shopping-icon">
    <a href="/security/" target="_blank" rel="noopener"><span class="icon"><svg alt="Secure Checkout"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-secure-checkout"></use><title>Secure Checkout</title></svg></span></a>
	</div>
	<div class="csd-trust-shopping-icon">
    <a href="/refunds/" target="_blank rel="noopener""><span class="icon"><svg alt="Money Back Guarantee"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-money-back-guarantee"></use><title>Money Back Guarantee</title></svg></span></a>
	</div>
	<div class="csd-trust-shopping-icon">
    <a href="/returns/" target="_blank" rel="noopener"><span class="icon"><svg alt="Easy Returns"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-easy-returns"></use><title>Easy Returns</title></svg></span></a>
	</div>
</div>
