<div class="verified-and-authenticated">
	<img src="{{cdn 'assets/img/verified-and-authenticated.png'}}" height="88" width="88" alt="Verified and authenticated">    
	<div class="title">Verified and authenticated by our experts. <a href="#verifiedAndAuthenticated" data-reveal-id="verifiedAndAuthenticated">More info.</a></div>

  <div id="verifiedAndAuthenticated" class="modal verified-and-authenticated-modal" data-reveal>
    <button class="modal-close" type="button" title="Close">
      <span class="aria-description--hidden">Close</span>
      <span aria-hidden="true">×</span>
    </button>

    <div class="verified-and-authenticated-container">
			<h4> Our Authentication Process</h4>
			<p>Consigned Sealed Delivered has created a meticulous authentication process in the UK to create a safe and reputable platform for authenticated luxury consignment. We authenticate every single item to fulfill our mission to gain and maintain your trust. We pride ourselves in our team of authentication experts who strive to sustain the integrity of luxury designers. </p>
			<h4> With the CSD Seal, It's Guaranteed Real</h4>
			<p>We authenticate every single item to ensure that we maintain the highest standards to keep fakes off the market and put counterfeits out of business. Once items arrive at CSD HQ in London, they are grouped and identified according to their authenticity risk, based on their brand, market value, fashion category, consignor data, etc. The higher the risk for counterfeit, the more rigorous the process. </p> <p>Our Quality Control team adds an additional layer of control and protection to ensure that fakes are not sold on CSD.shop. By using the Real Authentication <a href="https://www.realauthentication.com/" rel="noopener nofollow" target="_blank">https://www.realauthentication.com/</a> Smart Database Scan technology and authentication specialists, we assess certain at-risk items for further review. </p>
			<p>All items go through at least 2 members of our Head Office Team of Authenticators.<br><br>
If a customer would like a Certificate of Authenticity with their order, CSD will reach out to Third-Party Authentication Companies. This service is free on all items with a re-sale value above £400. Items below £400 will incur a small fee of £15 per item.<br><br>
*Please note, there are some brands and product models that are unavailable for authentication through our approved and established list of Luxury, designer Authentication Services/Companies.</p><p>For any inquiries about authenticity please contact: <a href="mailto:authentication@csd.shop">authentication@csd.shop</a></p>
    </div>

  </div>
</div>
