<div class="csd-condition-guide">
  <a href="#conditionGuide" data-reveal-id="conditionGuide">Condition Guide</a>
  <div id="conditionGuide" class="modal" data-reveal>
    <button class="modal-close" type="button" title="Close">
      <span class="aria-description--hidden">Close</span>
      <span aria-hidden="true">×</span>
    </button>
    <h3>Condition Guide</h3>
    <div class="conditionguide-container">
      <div class="conditionguide-content">
        <p><strong>Never worn, with tag</strong> - A never-worn item with tag is an item which has never been worn and still has the original purchase hangtags on it (include a photo of the tag).</p>
      <p><strong>Never worn</strong> - A never-worn item without a tag is an item which has never been worn and shows no defects or alterations.</p>
      <p><strong>Very good</strong> - An item in very good condition is a second-hand item which has been only lightly used and extremely well maintained, which can show slight defects from usage. These must be mentioned in the description and visible on the photos.</p>
      <p><strong>Good</strong> - An item in good condition is a second-hand item which has been worn and well maintained. If the item has defects, they must be mentioned in the description and visible in the photos.</p>
      <p><strong>Fair</strong>  - An item in fair condition is a second-hand item which has been worn frequently and shows defects (these are mentioned in the description and visible in photos).</p>
       </div>
    </div>
  <p>Questions about conditions? Please email us at <a href="mailto:support@csd.ltd">support@csd.shop</a></p>
  </div>
</div>

