{{#if currencyCode '===' 'GBP'}}£
{{else if currencyCode '===' 'USD'}}US$
{{else if currencyCode '===' 'EUR'}}€
{{else if currencyCode '===' 'AUD'}}AU$
{{else if currencyCode '===' 'CAD'}}CA$
{{else if currencyCode '===' 'SGD'}}SG$
{{else if currencyCode '===' 'NZD'}}NZ$
{{else if currencyCode '===' 'DKK'}}DKK
{{else if currencyCode '===' 'ILS'}}ILS
{{else if currencyCode '===' 'JPY'}}JPY
{{else if currencyCode '===' 'KWD'}}KWD
{{else if currencyCode '===' 'NOK'}}NOK
{{else if currencyCode '===' 'PLN'}}PLN
{{else if currencyCode '===' 'QAR'}}QAR
{{else if currencyCode '===' 'SAR'}}SAR
{{else if currencyCode '===' 'SEK'}}SEK
{{else if currencyCode '===' 'CHF'}}CHF
{{else if currencyCode '===' 'TRY'}}TRY
{{else if currencyCode '===' 'AED'}}AED
{{/if}}
{{addCommas value}}
