<div class="csd-size-guide">
  <a href="#sizeGuide" data-reveal-id="sizeGuide">Size Guide</a>
  <div id="sizeGuide" class="modal" data-reveal>
    <button class="modal-close" type="button" title="Close">
      <span class="aria-description--hidden">Close</span>
      <span aria-hidden="true">×</span>
    </button>

    {{#and (if product) (if product.category)}}
      {{#contains (dashcase (join product.category '/')) "-clothing-"}}
        <h3>Clothing Size Guide</h3>
        <p class="sizeguide-help">Scroll right for more size conversions &rarr;</p>
        <div class="sizeguide-container">
          <div class="sizeguide-content">
          <table>
              <tbody>
                  <tr>
                    <th>SML</th>
                    <th>UK</th>
                    <th>US</th>
                    <th>FR</th>
                    <th>IT</th>
                    <th>JP</th>
                  </tr>
                  <tr>
                    <td>XXS</td>
                    <td>4</td>
                    <td>0</td>
                    <td>32</td>
                    <td>36</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>XS</td>
                    <td>6</td>
                    <td>2</td>
                    <td>34</td>
                    <td>38</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <td>S</td>
                    <td>8</td>
                    <td>4</td>
                    <td>36</td>
                    <td>40</td>
                    <td>7</td>
                  </tr>
                  <tr>
                    <td>M</td>
                    <td>10</td>
                    <td>6</td>
                    <td>38</td>
                    <td>42</td>
                    <td>9</td>
                  </tr>
                  <tr>
                    <td>L</td>
                    <td>12</td>
                    <td>8</td>
                    <td>40</td>
                    <td>44</td>
                    <td>11</td>
                  </tr>
                  <tr>
                    <td>XL</td>
                    <td>14</td>
                    <td>10</td>
                    <td>42</td>
                    <td>46</td>
                    <td>13</td>
                  </tr>
                  <tr>
                    <td>XXL</td>
                    <td>16</td>
                    <td>12</td>
                    <td>44</td>
                    <td>48</td>
                    <td>15</td>
                  </tr>
                  <tr>
                    <td>XXXL</td>
                    <td>18</td>
                    <td>14</td>
                    <td>46</td>
                    <td>50</td>
                    <td>17</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      {{else}}
        {{#contains (dashcase (join product.category '/')) "-shoes-"}}
          <h3>Shoes Size Guide</h3>
          <p class="sizeguide-help">Scroll right for more size conversions &rarr;</p>
          <div class="sizeguide-container">
            <div class="sizeguide-content">
            <table>
                <tbody>
                    <tr>
                      <th>UK</th>
                      <th>US</th>
                      <th>EU</th>
                      <th>IT</th>
                      <th>FR</th>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>5</td>
                      <td>35</td>
                      <td>35</td>
                      <td>36</td>
                    </tr>
                    <tr>
                      <td>2.5</td>
                      <td>5.5</td>
                      <td>35.5</td>
                      <td>35.5</td>
                      <td>36.5</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>6</td>
                      <td>36</td>
                      <td>36</td>
                      <td>37</td>
                    </tr>
                    <tr>
                      <td>3.5</td>
                      <td>6.5</td>
                      <td>36.5</td>
                      <td>36.5</td>
                      <td>37.5</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>7</td>
                      <td>37</td>
                      <td>37</td>
                      <td>38</td>
                    </tr>
                    <tr>
                      <td>4.5</td>
                      <td>7.5</td>
                      <td>37.5</td>
                      <td>37.5</td>
                      <td>38.5</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>8</td>
                      <td>38</td>
                      <td>38</td>
                      <td>39</td>
                    </tr>
                    <tr>
                      <td>5.5</td>
                      <td>8.5</td>
                      <td>38.5</td>
                      <td>38.5</td>
                      <td>39.5</td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td>9</td>
                      <td>39</td>
                      <td>39</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td>6.5</td>
                      <td>9.5</td>
                      <td>39.5</td>
                      <td>39.5</td>
                      <td>40.5</td>
                    </tr>
                    <tr>
                      <td>7</td>
                      <td>10</td>
                      <td>40</td>
                      <td>40</td>
                      <td>41</td>
                    </tr>
                    <tr>
                      <td>7.5</td>
                      <td>10.5</td>
                      <td>40.5</td>
                      <td>40.5</td>
                      <td>41.5</td>
                    </tr>
                    <tr>
                      <td>8</td>
                      <td>11</td>
                      <td>41</td>
                      <td>41</td>
                      <td>42</td>
                    </tr>
                    <tr>
                      <td>8.5</td>
                      <td>11.5</td>
                      <td>41.5</td>
                      <td>41.5</td>
                      <td>42.5</td>
                    </tr>
                    <tr>
                      <td>9</td>
                      <td>12</td>
                      <td>42</td>
                      <td>42</td>
                      <td>43</td>
                    </tr>
                    <tr>
                      <td>9.5</td>
                      <td>12.5</td>
                      <td>42.5</td>
                      <td>42.5</td>
                      <td>43.5</td>
                    </tr>
                    <tr>
                      <td>10</td>
                      <td>13</td>
                      <td>43</td>
                      <td>43</td>
                      <td>44</td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        {{/contains}}
      {{/contains}}
    {{/and}}

  <p>Questions about your size? Please email us at <a href="mailto:support@csd.ltd">support@csd.shop</a></p>
  </div>
</div>

