<!DOCTYPE html>
<html lang="{{ locale_name }}">
<head>
    <title>{{ head.title }}</title>
    {{{ head.meta_tags }}}
    {{{ head.config }}}
    <link href="{{ head.favicon }}" rel="shortcut icon">
    {{#block "head"}}{{/block}}
    {{inject 'themeSettings' theme_settings}}
    {{~inject 'template' template}}
    {{~inject 'pageType' page_type}}
    {{~inject 'storefrontApiToken' settings.storefront_api.token}}
    {{~inject 'clientIpAddress' settings.client_ip_address}}
    {{#if customer}}
        {{~inject 'customerId' customer.id}}
        {{~inject 'customerEmail' customer.email}}
        {{#if customer.shipping_address}}
            {{~inject "customerCity" customer.shipping_address.city}}
            {{~inject "customerState" customer.shipping_address.state}}
            {{~inject "customerCountry" customer.shipping_address.country}}
        {{/if}}
    {{/if}}
   {{#comment}}
    <script>
        var theme_settings = {
            show_fast_cart: {{theme_settings.show_fast_cart}},
            linksPerCol: {{theme_settings.nav-links-per-col}},
        };
    </script>
    {{/comment}}
    <script type="text/javascript">

    !function(e){if(!window.pintrk){window.pintrk=function()
    
    {window.pintrk.queue.push(Array.prototype.slice.call(arguments))};var
    
    n=window.pintrk;n.queue=[],n.version="3.0";var
    
    t=document.createElement("script");t.async=!0,t.src=e;var
    
    r=document.getElementsByTagName("script")[0];r.parentNode.insertBefore(t,r)}}
    
    ("https://s.pinimg.com/ct/core.js");
    
    
    
    pintrk('load','2612737624778', { em: '%%GLOBAL_BillingEmail%%', });
    
    pintrk('page');
    
    </script>
    <noscript>
        <img height="1" width="1" style="display:none;" alt="" src="https://ct.pinterest.com/v3/?tid=2612737624778&noscript=1"/>
    </noscript>
    
    


	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
</head>
<body>
    
    <!-- Google Tag Manager (noscript) --> 
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TWHDKXX"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
        
    {{#block "page"}}{{/block}}
	<script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
	<script>
		{{!-- Exported in app.js --}}
		function onThemeBundleMain() {
			window.stencilBootstrap("{{page_type}}", {{jsContext}}).load();
		}
	</script>
    <script async defer src="{{cdn 'assets/dist/theme-bundle.main.js'}}" onload="onThemeBundleMain()"></script>
   
</body>
</html>
